@model IEnumerable<PopCinema.Models.Categorias>

@{
    ViewBag.Title = "Index";
}


@if (User.IsInRole("Admin"))
{
    <p style="color:white; font-weight:400; background-color:black">
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
   


        @foreach (var categoria in Model)
        {
            <tr style="color:white; font-weight:400; background-color:black">
                <td>
                    <a href="~/Categorias/Details/@categoria.ID">
                        @categoria.Nome
                    </a>
                </td>


            </tr>
        }

    </table>
