@model IEnumerable<PopCinema.Models.Atores>

@{
	ViewBag.Title = "Index";
}

@if (User.IsInRole("Admin"))
{
	<p style="color:white">
		@Html.ActionLink("Create New", "Create")
	</p>
}
<div style=" display:flex; flex-wrap:wrap; flex-direction:row; justify-content:space-around; align-content:center; margin-top:30px;">
	@foreach (var item in Model)
	{

		<div style="padding-top: 15px">
			<a href="~/Atores/Details/@item.ID">
				<img src="~/Imagens/FotoAtores/@item.FotoAtor" height="250" />
				<figcaption style=" text-align: center">@item.Nome</figcaption>
			</a>

		</div>
	}


</div>
